body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.logo {
    width: 80%;
}
.logo img{
    max-width: 80%;
    height: auto;
}
.Formulario{
    width: 90%;
}
.Formulario img{
    max-width: 90%;
    width: auto;
}
.cont-fichamed{
    width: 80%;
}
.cont-fichamed img{
    max-width: 80%;
    height: auto;
}
.code1{
    width: 100%;
}
.code1 img{
    max-width: 100%;
    height: auto;
}
.code2{
    width: 80%;
}
.code2 img{
    max-width: 80%;
    height: auto;
}
.code3{
    width: 80%;
}
.code3 img{
    max-width: 80%;
    height: auto;
}
.code4{
    width: 90%;
}
.code4 img{
    max-width: 90%;
    height: auto;
}
.code5{
    width: 100%;
}
.code5 img{
    max-width: 100%;
    height: auto;
}
.selecunic{
    width: 100%;
}
.selecunic img{
    max-width: 100%;
    height: auto;
}
.selecmult{
    width: 100%;
}
.selecmult img{
    max-width: 100%;
    width: auto;
}
.fecha{
    width: 60%;
}
.fecha img{
    max-width: 60%;
    width: auto;
}
header {
    text-align: left;
    background-color: rgb(16, 15, 13);
    color: #ffffff;
    padding-top: 20px;
}

nav ul {
    list-style: none;
	padding: 0;
	display: flex;
	background-color: rgb(16, 15, 13);
}

nav ul li {
    display: inline-block;
    position: relative;
    border: 1px solid rgb(197, 193, 193);
}

nav ul li a {
    display: block;
	background-color: rgba(255, 255, 255, 0.878);
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 10px;
}
nav ul li:hover > ul {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
nav a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
nav ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 100%;
  }
nav ul ul li {
    display: block;
  }
nav ul ul li a {
    padding: 10px 20px;
    color: #333;
  }
nav ul ul li:hover {
    background-color: #f0f0f0;
  }
main {
    padding: 20px;
}
.Formulario img{
    height: 600px;
}
section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
